## SQL Assignment-3

#### Question 1: Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.
__Answer__: select rtrim(FIRST_NAME) from Worker

#### Question 2: Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.
__Answer__: select distinct(DEPARTMENT) , len(DEPARTMENT) from Worker

#### Question 3: Write an SQL query to fetch nth max salaries from a table.
__Answer__: select distinct(SALARY) from Worker order by SALARY desc limit 1 offset n