## SQL Assignment-9

#### Question 1: Write an SQL query to show the top n (say 10) records of a table.
__Answer__: select * from Worker limit 10

#### Question 2 : Write an SQL query to determine the nth (say n=5) highest salary from a table.
__Answer__:select distinct(SALARY) from Worker order by desc limit 1 offset 5