## SQL Assignment -10

#### Question 1 : Write an SQL query to determine the 5th highest salary without using TOP or limit method.
__Answer__: select * from (select ROW_NUMBER() over (order by SALARY desc) as R_NUM, FIRST_NAME, salary from EMPLOYEE) as HEllO where R_NUM=5;

#### Question 2: Write an SQL query to fetch the list of employees with the same salary.
__Answer__: select * from EMPLOYEES order by SALARY