## SQL Assignment-7

#### Question 1 : Write an SQL query to show only odd rows from aÂ table.
__Answer__: select * from Worker where mod(WORKER_ID,2)=1

#### Question 2 : Write an SQL query to clone a new table from another table.
__Answer__: 
Create a table 

                  
create table Info_1( Name varchar(10) ,Age int , Course varchar(15))        
           
Clone the table

insert into Info_1 select * from Info  
(Info is an already existing table with columns Name, Age and Course)