## SQL Assignment-2

#### Question 1 : Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.
__Answer__: select substring(FIRST_NAME,1,3) from Worker

#### Question 2: Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.
__Answer__: select position('a' in FIRST_NAME) from Worker where FIRTS_NAME ='Amitabh'

#### Question 3: Write an SQL query to print the name of employees having the highest salary in each department.
__Answer__: select FIRST_NAME , LAST_NAME ,SALARY , DEPARTMENT from Worker w where SALARY =(select(max(SALARY) from Worker where DEPARTMENT = w.DEPARTMENT)