## SQL Assignment-4

#### Question 1 : Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.
__Answer__: select replace(FIRST_NAME,'a','A') from Worker

#### Question 2 : Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.
__Answer__: select * from Worker order by FIRST_NAME asc, LAST_NAME desc

#### Question 3 : Write an SQL query to fetch the names of workers who earn the highest salary.
__Answer__: select FIRST_NAME , LAST_NAME from Wroker where SALARY = (select max(SALARY) from Worker)